body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding: 0;
}

header {
    color: #fff;
    background-color: #333;
    text-align: center;
    padding: 5px 0px;
    display: block;

}

.container {
    display: flex;
    margin-top: ;

}

main {
    flex: 3;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    background-color: powderblue;
    padding: 10px;
   margin-left: 10px;
   margin-right: 10px;
}

aside {
    flex: 1;
    background-color: aquamarine;
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 10px;
}
footer{
    background-color: #333;
    color: #fff;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}
.imag-h{
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#img-c{
    width: 150px;
    height: 200px;
    border-radius: 20px;
}
.card-h{
    display: flex;

}
#card-c{
    display: flex;
}
button{
    height: 40px;
    width: 100px;
    border-radius: 10px;
    background-color: aquamarine;

}